* {
  font-size: small;
}

body {
  overflow: hidden;
  background-color: rgba(228, 228, 228, 0.025);
}

div.navbar-form.navbar-right {
  margin-right: 15px;
}

div.list-group-item-heading > span {
  margin-left: 15px;
}

.header {
  position: absolute;
  height: 70px;
}

.tabs-no-padding {
  padding: 0;
}
.feedsList {
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-style: solid solid none;
  border-top-color: rgb(217, 217, 217);
  border-right-color: rgb(217, 217, 217);
  border-left-color: rgb(217, 217, 217);
  height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  max-height: calc(100% - 70px);
  overflow-y: scroll;
}

.trim-word {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#popover {
  min-width: 50vw;
}

.scrollable {
  max-height: 70vh;
  overflow-y: scroll;
}

.thumbnail-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.image-overlay {
  top: 16%;
  left: 77%;
  position: absolute;
  margin-top: -30px;
}

.fa-check {
  color: green;
}

.fa-money {
  color: green;
}

.feed-search-icon {
  margin-right: 5px;
}

button.go-btn {
  margin-bottom: 15px;
}

/* ------------------- */
/* Input Range styling */
/* ------------------- */

input[type=range].thumbnail-size {
  margin-top: 15px;
  margin-right: 15px;
  float: left;
}

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #5379ff;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

.panel-body {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.popover-content {
  height: 80vh;
  overflow-y: scroll;
}

button.active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

p.feed-description {
  margin-bottom: 0;
}

/* ------------------- */
