* {
  font-size: small;
}

body {
  overflow: hidden;
  background-color: rgba(228, 228, 228, 0.025);
}

.appContainer {
  background-size: cover;
  height: 100vh;
}

div.navbar-form.navbar-right {
  margin-right: 15px;
}

div.list-group-item-heading > span {
  margin-left: 15px;
}

.header {
  position: absolute;
  height: 70px;
}